/* CSS STYLE */
body{
    font-family: sans-serif;
    background-color: lightgreen;
}
#grid{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
    display: none;
}

#grid.active{
    display: flex;
    color: black;
    text-align: center;
    line-height: 50px;
}

#grid .cell{
    width: 10%;
    height: 10%;
    border: 1px solid black;
}

.clicked{
    cursor: not-allowed;
    color: white;
}

.bomb{
    background-color: red;
} 

.safe{
    background-color: dodgerblue;
}

#points-counter{
    font-weight: bold;
    font-size: 2rem;
    color: dodgerblue;
    text-shadow: 2px 2px 2px violet;
}